@model IEnumerable<ECommerce.API.DTOs.ImageDTO>

@{
    ViewData["Title"] = "Image";
}

<h2>Images</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                VegetableId
            </th>
            <th>
                ImageURL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.VegetableId
                </td>
                <td>
                    @item.ImageURL
                </td>
                <td>    
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>