@using ECommerce.Customer.Models
@model MultiModels

@{
    ViewData["Title"] = "Detail";
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<div class="product-detail-page">
    <div class="banner">
        <h1> <i class="fa-solid fa-seedling navbar-extra-icon"></i>@Model.Vegetable.Name</h1>
    </div>
    <div class="product-detail-section">
        <div class="product-img">
            @if (!Model.Vegetable.Images.Any())
            {
                <img src="/Images//ProductDummy.jpg" />
            }
            else{
                <img src="@Model.Vegetable.Images[0].ImageURL/@Model.Vegetable.Images[0].Id" />
            }
        </div>
        <div class="product-detail-text">
            <div>
                <h1 class="product-detail-name">@Model.Vegetable.Name</h1>
                <p class="product-detail-price">@Model.Vegetable.Price</p>
                <p>@totalRating <i class="fa-solid fa-star"></i></p>
                <p class="product-detail-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Aliquam ut est pulvinar quam fringilla pretium. Praesent nibh orci, tincidunt a lacinia non, 
                    vulputate id metus. Vivamus rutrum erat metus, et gravida tortor aliquam consectetur. Interdum et
                    malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="product-detail-buttons">
             
            <a class="button">ADD TO CART</a>
            <a class="button" asp-controller="Shop" asp-action="Rating" asp-route-id="@Model.Vegetable.Id">RATE</a>
            </div>
        </div>
    </div> 
    <div class="homepage-best-seller">
        <div class="homepage-best-seller-text">
            <h2 >power of nature -</h2>
            <h1>Best Sellers Products</h1>
        </div>
        <div class="homepage-products">
            <div class="best-seller-row">
                @if (Model != null)
                {
                    @foreach (var item in Model.Vegetables)
                    {
                        <div class="product">
                            @if (!item.Images.Any())
                            {
                                <img src="/Images//ProductDummy.jpg" />
                            }
                            else{
                             <img src="@item.Images[0].ImageURL/@item.Images[0].Id" />
                            }
                            <p class="product-name">@item.Name</p>
                            <p>@item.Price</p>
                            <div class="product-btns">
                                <a class="button" asp-controller="Shop" asp-action="Detail" asp-route-id="@item.Id">SEE DETAIL</a>
                                <a class="button">ADD TO CART</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
