@using ECommerce.Customer.Models
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model MultiModels

@{
    ViewData["Title"] = "Detail";
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<div>
    <div class="banner">
        <h1> <i class="fa-solid fa-seedling navbar-extra-icon"></i>@Model.Vegetable.Name</h1>
    </div>
    <div class="product-detail-section">
        <div class="product-img">
            @if (!Model.Vegetable.Images.Any())
            {
                <img src="/Images//ProductDummy.jpg" />
            }
            else{
                <img src="@Model.Vegetable.Images[0].ImageURL/@Model.Vegetable.Images[0].Id" />
            }
        </div>
        <div class="product-detail-text">
            <div>
                <h1 class="product-detail-name">@Model.Vegetable.Name</h1>
                <p class="product-detail-price">@Model.Vegetable.Price</p>
                <p>@totalRating <i class="fa-solid fa-star"></i></p>
                <p class="product-detail-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Aliquam ut est pulvinar quam fringilla pretium. Praesent nibh orci, tincidunt a lacinia non, 
                    vulputate id metus. Vivamus rutrum erat metus, et gravida tortor aliquam consectetur. Interdum et
                    malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <form method="post" asp-action="Rating" >
            <table>
                <div class="rating-input">
                    <select name="RatingNumber" id="">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5" selected>5</option>
                    </select>
                    <input type="hidden" name="ProductId" value="@Model.Vegetable.Id"/>
                    <p>&nbsp <i class="fa-solid fa-star"></i></p>
                </div>
            </table>

            
            <div class="product-detail-buttons">
            <button class="button">RATE</button>
            <a class="button" asp-controller="Shop" asp-action="Detail" asp-route-id="@Model.Vegetable.Id">CANCEL</a>
            
            </div>
            </form>
        </div>
    </div>
    <div class="rating-list-section">
        <h2>REVIEWS</h2>
        <h3>@ratingCount review for Green Fig Fruit</h3>
        <div class="rating-list-items">
             @if (Model != null)
            {
                @foreach (var item in Model.Ratings)
                {
                    <div class="rating-list-item">        
                        <div class="rating-left">
                    <img src="/Images/User.png"/>
                    </div>
                    <div class="rating-right">
                        <p>@item.RatingNumber <i class="fa-solid fa-star"></i></p>
                        <p class="rating-right-name">VINZ</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aliquam ut est pulvinar quam fringilla pretium. Praesent nibh orci, tincidunt a lacinia non, 
                            vulputate id metus.</p>
                    </div>
                    </div>
                }
            }
        </div>
        <div class="rating-list-button">
        <button class="button">SEE MORE</button>
        </div>
    </div>
</div>
